
  .body {
    background-color: antiquewhite;
    color: #13151e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav{
    background-color: #904e30;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 2px 6px rgba(37, 35, 32, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav a {
    text-decoration: none;
    color: #0f0f18;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border-radius: 8px;
  }
  .nav a:hover {
    background-color: #f16d25;
    color: #291010;
  }
  .logo {
    width: 180px;
    height: 80px;
    margin-bottom: 15px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
  }
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #222;
    margin: 0;
  }
  .head{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem; 
  font-weight: 400; 
  
  text-align: center; 
  color: #110f0f; 
  padding: 10px 5px;
  background-color:rgb(231, 200, 160);
  margin-top: 20px; 
  border-radius: 5px; 
  box-shadow: 0px 4px 10px rgba(233, 23, 23, 0.1); 
  letter-spacing: 1px;
}
.slogan{
    color:#171e7a;
    font-family: 'Dancing Script', cursive;
    font-size: 1rem;
    display: inline-block; 
    font-style: italic; 
    font-weight: 500; 
}
.about{
display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  

  background-color:#b77e56 ;
  
}
.our{
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem; 
}
.us{
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem; 
    color: #5e3514;

}
.para{
    justify-content: center;
    text-align: center;
    display: inline-block; 

}
.values{
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem; 
    color: #543114;

  

}
   .map{ justify-content:left;
    text-align:left;
    display:inline-flexbox;
}
.font{justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 2rem; 
    z-index: 100;
    color:#672727

}
.profile-box {
  width: 300px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #f9f9f9;
}
.profile-image {
  width: 100%;
  object-fit:cover;
  height:25px;
  border-radius: 10px;
}
.profile-info h3 {
  margin: 5px 0;
  font-size: 1.2em;
}
.profile-info p {
  font-size: 0.95em;
  color: #050505;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat( 2,1fr) ; 
  gap: 15px; 
  max-width: 600px; 
  margin: auto;
  padding: 20px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.reserve{

    font-family: 'Playfair Display', serif;
    font-style: italic;
    justify-content: center;
    text-align: center;
  
}
.start{
  justify-content: center;
  font-weight: 600;
  text-align: center;
  color: #b80f0f;


}
.rent{
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}
.container{
  border-radius: 20px;
  padding: 35px;
  max-width: 500px;
  
  margin-top: 20px;
  justify-items: center;
justify-content: center;
gap: 30px;
background-color: rgb(240, 207, 145);

}
.group{
  display: flex;
  margin: 15px;
  flex-direction: column;
  width: 500px;
  

  justify-content: left;
}
label{
  margin-bottom:8px;
  font-weight: 500;
  
}
.submit{
  color: red ;
  padding: 10px 20px;
  text-align: center;
  color: rgb(168, 7, 7);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.submit button:hover {
  background-color: #af6d21;
}

.class{
  align-items: center;
  margin: 0;
  justify-content: center;
  background-color: wheat;
  display: flex;
  color: #13151e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #904e30;; 
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  
  margin-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.index{
  width:100%;
}

.footer a {
  color: #e7a326; 
  text-decoration: none;
  margin: 0 5px;

}

.footer a:hover {
  text-decoration: underline;
}

.footer .social-links {
  margin-top: 10px;
}
.footer-content{
  width: 1243px;
  height: 80px;
}



